@import "./reset.css";


:root {
    --Pcolor--: #fc9292;
    --Mfont--: "Mfont";
    --Pfont--: "Pfont";
}

@font-face {
    font-family: "Pfont";
    src: url('../font/Brampton Serif Demo.otf');
}

@font-face {
    font-family: "Mfont";
    src: url('../font/NotoSansKR-VariableFont_wght.ttf');
}


*::-webkit-scrollbar{
    background-color: #202020;
    width: 5%;
}
*::-webkit-scrollbar-thumb{
    background-color: #2c2c2c;
   
}
*{
    user-select: none;
}

/* ////////////////////////////////////////// */
body {
    font-family: var(--Mfont--);
    background-color: #101010;
    color: #fff;
}


.text_hidden {
    display: none;
}
/* //////////////////////////////////////////////////// */



#menu {
    width: 100%;
    margin: auto;
    height: 10%;
    position: relative;
    z-index: 9990;
    background-color: #101010;
    position: fixed;
}

.mlogo {
    display: block;
    color: var(--Pcolor--);
    font-family: var(--Pfont--);
    font-size: 4rem;
    line-height: 6.3rem;
    padding-left: 4%;
}



#menu .menuB {
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 9999;
}

#menu .menuB:hover {
    cursor: pointer;
}


#menu .closeB {
    display: none;
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 9999;
}

#menu .closeB:hover {
    cursor: pointer;
}




header {
    display: none;
    position: fixed;
    z-index: 9999;
    background-color: #101010;
    top: 10%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#hmenu {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 3%;
    display: grid;
    background-color: #101010;
    grid-template-columns: repeat(2, 3fr);
    margin-left: 8%;
    z-index: 9999;
}

#hmenu img {
    width: 100%;
}

#hmenu ul li {
    width: 70%;
    font-size: 3.5rem;
    margin-top: 1%;
    margin-bottom: 7%;
    line-height: 5rem;
}

/* /////////////////////////// */




#text{
    width: 90%;
    overflow: hidden;
    padding-top: 15%;
    font-family: var(--Pfont--);
    margin: auto;
}

#title{
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color: var(--Pcolor--);
}
#S_title{
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10%;
}
#list{
    width: 100%;
    margin: auto;
    margin-top: 10%;
    font-size: 2rem;
    margin-bottom: 2%;
}
#list ul{
    display: flex;
}
#list ul li{
    width: fit-content;
    height: fit-content;
    margin-right: 3%;
    letter-spacing: 0.1rem;
    color: #A8A8A8;
}
#list ul li:nth-child(1){
    color: #ffffff;
}

#list ul li:nth-child(1)::after{
    content: '';
    width: 100%;
    display: block;
    height: 3px;
    background-color: var(--Pcolor--);
}



/* /////////////////////////////// */


section{
    width: 95%;
    height: 70vw;
    overflow: hidden;
    margin: auto;
    position: relative;
}
/* section .Pbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    margin-bottom: 1%;
}
section .Pbox a{
    width: 20%;
} */



/* ////////////////////// */

.number{
    margin-top: -5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.number .n{
    margin: 0 1%;
}
.number .n:nth-child(1){
    color: var(--Pcolor--);
    font-weight: 700;
}


/* //////////////////////// */



footer{
    margin-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #808080;
    font-size: 0.9rem;
    margin-top: 15%;
}
footer .footerT p{
    width: 100%;
    margin-bottom: 4%;
    margin-left: 8%;
}
footer .copyright{
    align-self: flex-end;
    line-height: 20px;
    margin-bottom: 2%;
    margin-right: 5%;
}

/* //////////////////////// */




@media screen and (max-width:1200px){

    .mlogo{
        font-size: 3.5rem;
        line-height: 5.3rem;
    }

    #hmenu ul li{
        font-size: 2.2rem;
    }


    #menu .menuB img{
        width: 80%;
    }


    #title{
        font-size: 2.5rem;
        margin: 5% auto;
    }
    #S_title{
        font-size: 3.5rem;
    }
    #list{
        font-size: 1.5rem;
    }

}

@media screen and (max-width:1024px){


    .mlogo{
        font-size: 3rem;
        line-height: 6rem;
    }

}



@media screen and (max-width:767px){
    .mlogo{
        font-size: 2.5rem;
    }

    #hmenu{
        width: 100%;
        margin: auto;
        margin-left: 6%;
    }
    #hmenu ul li{
        font-size: 1.5rem;
        margin-bottom: 10%;
        line-height: 2rem;
    }

    #menu nav .menuB img{
        width: 80%;
    }
    #menu .closeB{
        top: 30%;
        right: 6%;
    }
    #menu .closeB img{
        width: 80%;
    }

    #title{ 
        font-size: 2rem;
        margin: 10% auto;
    }
    #S_title{
        margin: 10% auto;
    }
    #S_title span{
        font-size: 2.5rem;

    }
    #list{
        font-size: 1rem;
    }

    .number .n{
        font-size: 0.9rem;
    }

    section{
        width: 100%;
        margin: 0;
        height: fit-content;
    }
    section .item{
        display: block;
        background-color: #fc9292;
    }
    section .Pbox .item:hover{
        cursor: pointer;
    }
    section .Pbox{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fc9292;
        margin: 0;
        gap: 0;
    }
    section .Pbox .box{
        width: 50%;
        height: fit-content;
        display: inline-block;
    }
  

    footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 15%;
        font-size: 0.8rem;
    }
    footer .footerT p{
        margin: 4% auto;
    }
    footer .copyright{
        margin: 4% auto;
    }



}



@media screen and (max-width:400px){

    .mlogo{
        font-size: 2.3rem;
        line-height: 5rem;
    }

    #hmenu{
        margin: 0 auto;
        width: 100%;
        padding-left: 8%;
    }
    #hmenu ul li{
        font-size: 1.2rem;
        margin-bottom: 20%;
        line-height: 2.5rem;
    }


    #menu nav .menuB{
        top: 30%;
    }
    #menu nav .menuB img{
        width: 70%;
       
    }
    #text{
        width: 100%;
    }
    #title h3{
        font-size: 1.5rem;
        margin: 20% auto;
    }
    #S_title{
        width: 90%;
        margin: 15% auto;
    }
    #S_title span{
        font-size: 2rem;
    }

    
    #list ul{
        margin: auto;
        width: 95%;
        font-size: 0.8rem;
    }
    #list ul li{
        margin-right: 3%;
    }
    .number{
        font-size: 0.7rem;
    }

    footer .footerT p{
        width: 90%;
        line-height: 150%;
        font-size: 0.7rem;
    }
    footer .copyright{
        font-size: 0.7rem;
    }
    
}
