@import "./reset.css";


:root{
    --Pcolor--: #F99A9A;
    --Mfont-- : "Mfont";
    --Pfont-- : "Pfont";
}

@font-face{
    font-family: "Pfont"; 
    src: url('../font/Brampton Serif Demo.otf');
}
@font-face{
    font-family: "Mfont";
    src: url('../font/NotoSansKR-VariableFont_wght.ttf');
}

body{
    font-family: var(--Mfont--);
}

.text_hidden{display: none;}
#menu{
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 9998;
    height: 10vw;
}

#menu nav{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #4c4c4c4a;
    position: fixed;
    z-index: 9998;
}
.logo{
    color: var(--Pcolor--);
    font-family: var(--Pfont--);
    font-size: 4rem;
    position: absolute;
    top: 20%;
    left: 8%;
}



#menu nav .menuB{
    position: absolute;
    top: 30%;
    right: 8%;
}

.closeB{
    /* display:none;  */
    position: absolute;
    top: 30%;
    right: 8%;
}




#menu nav .menuB:hover{
    cursor: pointer;
}
#menu nav .closeB:hover{
    cursor: pointer;
}


header{
    /* display: none; */
}
#hmenu{
    width: 100%;
    /* height: 800px; */
    margin: auto;
    display: grid;
    color: #808080;
    grid-template-columns: repeat(2,2fr);
    margin-left: 8%;
}
#hmenu img{width: 100%;}
 #hmenu ul li{
    width: 70%;
    font-size: 4rem;
    margin-top: 2%;
    margin-bottom: 6%;
}
/* /////////////////////////// */

#profile{
    width: 85%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 10vw;
    top: 0;
}
#profile h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    font-family: var(--Pfont--);
    color: var(--Pcolor--);
}

section{
    width: 85%;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
}
section h3{
    font-size: 5rem;
    font-family: var(--Pfont--);
}
section p{
    font-size: 1.2rem;
}
section p:nth-child(6){
    line-height: 200%;
    font-size: 1rem;
}
.IG{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.IG img{
    width: 5%;
    height: fit-content;
}
.IG>p{
    line-height: 2vw;
    margin-left: 1%;
}



.textR,.textL{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textR{
    margin-left: 5%;
}
.textL{
    margin-right: 5%;
}

.hyuk img{
    filter: grayscale(1);
    transition: 0.3s;
}
.hyuk img:hover{
    filter: grayscale(0);
}

.je img{
    filter: grayscale(1);
    transition: 0.3s;
}
.je img:hover{
    filter: grayscale(0);
}

.gun img{
    filter: grayscale(1);
    transition: 0.3s;
}
.gun img:hover{
    filter: grayscale(0);
}

.woo img{
    filter: grayscale(1);
    transition: 0.3s;
}
.woo img:hover{
    filter: grayscale(0);
}




footer{
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #808080;
    font-size: 0.9rem;
}
footer .footerT p{
    width: 100%;
    margin-bottom: 4%;
    margin-left: 8%;
}
footer .copyright{
    align-self: flex-end;
    line-height: 20px;
    margin-bottom: 2%;
    margin-right: 5%;
}



@media screen and (max-width:1200px){
    #hmenu ul li{
        font-size: 2.5rem;
    }
    
}
@media screen and (max-width:1024px){

    #profile h2{
        font-size: 2rem;
        margin: 5% auto;
    }

    section h3{
        font-size: 3rem;
    }
    section p{
        font-size: 1rem;
    }
    section p:nth-child(6){
        line-height: 200%;
        font-size: 0.9rem;
    }
    section{
        margin: 8% auto;
    }
    #profile h2{
        top: 80%;
        font-size: 2rem;
    }
    .IG img{
        width: 7%;
        height: fit-content;
    }
    .IG>p{
        line-height: 2.5vw;
    }
    .textR{
        margin-left: 3%;
    }
    .textL{
        margin-right: 3%;
        margin-left: 2%;
    }
    
}


@media screen and (max-width:767px){
    #hmenu{
        width: 100%;
        margin: auto;
        margin-left: 6%;
        margin-top: 10%;
    }
    #hmenu ul li{
        font-size: 1.5rem;
    }
    #menu{
        width: 100%;
    }
  
    .logo{
        font-size: 2.5rem;
        top: 30%;
        left: 4%;
    }

    #menu nav .menuB{

        right: 4%;
    }
    .menuB img{
        width: 80%;
    }
    .closeB{
        top: 30%;
        right: 15%;
    }




    #profile h2{
        padding-top: 30%;
    }
    section{
        width: 100%;
        flex-direction: column;
        margin: 20% auto;
    }
    section figure{
        width: 95%;
        margin: auto;
        margin-bottom: 5%;
    }
    section figure img{
        width: 100%;
    }
    .textR,.textL{
        justify-content: space-evenly;
        width: 95%;
        height: 60vh;
        line-height: 200%;
    }

    .IG img{
        width: 6%;
        height: fit-content;
    }
    .IG>p{
        line-height: 5vw;
    }
   
    .gun{
        flex-direction: column-reverse;
    }
    .woo{
        flex-direction: column-reverse;
    }
   

    footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer .footerT p{
        margin: 4% auto;
    }
    footer .copyright{
        margin: 4% auto;
    }
}



@media screen and (max-width:400px){


    #profile h2{
        font-size: 1.5rem;
        margin: 5% auto;
    }
    .logo{
        font-size: 2rem;
       
    }

    #menu nav .menuB{   
        right:2%;
    }
    .menuB img{
        width: 60%;
    }
    .closeB img{
        width: 70%;
    }

    #menu nav{
       
        height: 8vh;
       
    }

}