@import "./reset.css";


:root{
    --Pcolor--: #fc9292;
    --Mfont-- : "Mfont";
    --Pfont-- : "Pfont";
}

@font-face{
    font-family: "Pfont"; 
    src: url('../font/Brampton Serif Demo.otf');
}
@font-face{
    font-family: "Mfont";
    src: url('../font/NotoSansKR-VariableFont_wght.ttf');
}

*::-webkit-scrollbar{
    background-color: #ffffff;
    width: 5%;
}
*::-webkit-scrollbar-thumb{
    background-color: #202020;
   
}
*{
    user-select: none;
}


body{
    font-family: var(--Mfont--);
}

.text_hidden{display: none;}

#menu{
    width: 100%;
    margin: auto;
    height: 10%;
    position: relative;
    /* position: fixed; */
    z-index: 9990;
    background-color: #101010;
    position: fixed;
}
.mlogo{
    display: block;
    color: var(--Pcolor--);
    font-family: var(--Pfont--);
    font-size: 3.8rem;
    line-height: 6rem;
    padding-left: 5%;
}

#menu .menuB{
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 9999;
}
#menu .menuB:hover{
    cursor: pointer;
}


#menu .closeB{
    display:none; 
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 9999;
}
#menu .closeB:hover{
    cursor: pointer;
}




header{
     display: none;
     position: fixed;
     z-index: 9999;
     background-color: #101010;
     top: 10vh;
     left: 0;
     width: 100%;
     overflow: hidden;
}
#hmenu{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 3%;
    display: grid;
    background-color: #101010;
    grid-template-columns: repeat(2,3fr);
    margin-left: 8%;
    z-index: 9999;
    color: #ffffff;
}
#hmenu img{width: 100%;}
 #hmenu ul li{
    width: 70%;
    font-size: 3.5rem;
    margin-top: 1%;
    margin-bottom: 7%;
    line-height: 5rem;
}
/* /////////////////////////// */

#profile{
    /* width: calc(100% - 320px); */
    width: 90%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 30rem;
    top: -50%;
}
#profile h2{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    font-family: var(--Pfont--);
    color: var(--Pcolor--);
}

section{
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
}
section:not(:nth-of-type(1)){
    margin-top: 5%;
}
section h3{
    font-size: 5rem;
    font-family: var(--Pfont--);
}
section p{
    font-size: 1.2rem;
}
section p:nth-child(6){
    line-height: 200%;
    font-size: 1rem;
}
.IG{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.IG img{
    width: 5%;
    height: fit-content;
}
.IG>p{
    line-height: 2vw;
    margin-left: 1%;
}



.textR,.textL{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textR{
    margin-left: 5%;
}
.textL{
    margin-right: 5%;
}

.hyuk img{
    filter: grayscale(1);
    transition: 0.3s;
}
.hyuk img:hover{
    filter: grayscale(0);
}

.je img{
    filter: grayscale(1);
    transition: 0.3s;
}
.je img:hover{
    filter: grayscale(0);
}

.gun img{
    filter: grayscale(1);
    transition: 0.3s;
}
.gun img:hover{
    filter: grayscale(0);
}

.woo img{
    filter: grayscale(1);
    transition: 0.3s;
}
.woo img:hover{
    filter: grayscale(0);
}


.topbtn .btn{
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    background-color: var(--Pcolor--);
    border: none;

}
.topbtn{
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 9999;
    display: none;
}
.topbtn .btn:hover{cursor: pointer;}




footer{
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #808080;
    font-size: 0.9rem;
}
footer .footerT p{
    width: 100%;
    margin-bottom: 4%;
    margin-left: 10%;
}
footer .copyright{
    align-self: flex-end;
    line-height: 20px;
    margin-bottom: 2%;
    margin-right: 5%;
}



@media screen and (max-width:1200px){

    #hmenu ul li{
        font-size: 2.2rem;
    }


    .mlogo{
        line-height: 5rem;
        font-size: 3rem;
    }

    #menu .menuB img{
        width: 80%;
    }

    .menubox{
        font-size: 2rem;
    }

    #profile{
       
        height: 25rem;
        top: -50%;
    }
    #profile h2{
        bottom: 25%;
       font-size: 2.5rem;
    }

    
}
@media screen and (max-width:1024px){

    .mlogo{
        line-height: 5rem;
        font-size: 3rem;
    }

    #profile{
       
        height: 15.5rem;
        top: -50%;
    }

    section h3{
        font-size: 3rem;
    }
    section p{
        font-size: 1rem;
    }
    section p:nth-child(6){
        line-height: 200%;
        font-size: 0.9rem;
    }
    section{
        margin: 8% auto;
    }
    #profile h2{
        top: 80%;
        font-size: 2rem;
    }
    .IG img{
        width: 7%;
        height: fit-content;
    }
    .IG>p{
        line-height: 2.5vw;
    }
    .textR{
        margin-left: 3%;
    }
    .textL{
        margin-right: 3%;
        margin-left: 2%;
    }
    
}


@media screen and (max-width:767px){
    #hmenu{
        width: 100%;
        margin: auto;
        margin-left: 6%;
    }
    #hmenu ul li{
        font-size: 1.5rem;
        margin-bottom: 20%;
        line-height: 2.5rem;
    }

    

   
    #menu nav .menuB img{
        width: 80%;
    }
    .closeB{
        top: 30%;
        right: 0%;
    }


    #profile{
        height: 15rem;
        bottom: 0;
    }


    section{
        width: 100%;
        flex-direction: column;
        margin: 20% auto;
    }
    section:not(:nth-of-type(1)){
        margin-top: 20%;
    }
    section:nth-of-type(1){
        margin-top: 10%;
    }
    section figure{
        width: 95%;
        margin: auto;
        margin-bottom: 5%;
    }
    section figure img{
        width: 100%;
    }
    .textR,.textL{
        justify-content: space-evenly;
        width: 95%;
        height: 60vh;
        line-height: 200%;
    }

    .IG img{
        width: 30px;
        height: 30px;
    }
    .IG>p{
        line-height: 30px;
    }
   
    .gun{
        flex-direction: column-reverse;
    }
    .woo{
        flex-direction: column-reverse;
    }
   

    .topbtn .btn{
        width: 25px;
        height: 25px;
        border-radius: 100px;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer .footerT p{
        margin: 4% auto;
    }
    footer .copyright{
        margin: 4% auto;
    }
}




@media screen and (max-width:400px){


    #hmenu{
        margin: 0 auto;
        width: 100%;
        padding-left: 8%;
    }
    #hmenu ul li{
        font-size: 1.2rem;
        margin-bottom: 20%;
        line-height: 2.5rem;
    }


    #menu nav .menuB{
        top: 30%;
    }
    #menu nav .menuB img{
        width: 70%;
       
    }

    .mlogo{
        font-size: 2.3rem;
        line-height: 5rem;
    }


    #profile{
        height: 15rem;
    }
    #profile h2{
        font-size: 2rem;
    }


    .IG img{margin-right: 1%;}

    footer .footerT p{
        width: 90%;
        line-height: 150%;
        font-size: 0.7rem;
    }
    footer .copyright{
        font-size: 0.7rem;
    }


    .topbtn .btn{
        width: 15px;
        height: 15px;
        border-radius: 100px;
    }
    
   
}